/.gitattributes             export-ignore
/.github                    export-ignore
/.gitignore                 export-ignore
/phpunit.xml.dist           export-ignore
/tests                      export-ignore
/README.md                  export-ignore
/src/Resources/get-syn.php  export-ignore
