<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="All Tests">
            <directory>tests</directory>
            <directory>vendor/mink/driver-testsuite/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="driver_config_factory" value="Behat\Mink\Tests\Driver\PhpWebDriverDriverConfig::getInstance"/>
        <server name="DRIVER_URL" value="http://localhost:4444/wd/hub"/>
        <server name="WEB_FIXTURES_HOST" value="http://host.docker.internal:8002"/>
        <server name="DRIVER_MACHINE_BASE_PATH" value="/fixtures/"/>
    </php>
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
</phpunit>
